html, body {
    margin: 0;
    height: 100%;
}

@font-face {
    font-family: DJB Chalk It Up;
    src: url("media/font.ttf");
}

body {
		text-align: center;
    background-image: url("media/background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
}

h1{
	color: white;
  font-family: DJB Chalk It Up;
  font-size: 90px;
	word-spacing: 10px;;
  font-style: oblique;
	font-weight: bold;

}

div1{
	color: white;
	font-size: 30px;
	font-family: DJB Chalk It Up;
	font-style: oblique;
	font-weight: bold;
}

#botaoIniciar{
	background-color: transparent;
	background-image: url("media/button.png");
	border: solid 0px #000000;
	margin-right: 80px;
	margin-top: 35px;
	width: 200px;
	height: 100px;
}

#botaoIniciar:hover{
	background-image: url("media/buttonPlay.png");
}


#botaoVoltar{
	background-color: transparent;
	background-image: url("media/button.png");
	border: solid 0px #000000;
	margin-top: 35px;
	width: 200px;
	height: 100px;
}

#botaoVoltar:hover{
	background-image: url("media/buttonBack.png");
}

#fooster{
  color: white;
  font-family: DJB Chalk It Up;
  font-style: oblique;
  position:absolute;
  bottom:0;
  left:0;
}

#botaoEscrever{
	background-color: transparent;
	background-image: url("media/buttonWrite.png");
	border: solid 0px #000000;
	margin-right: 80px;
	margin-top: 35px;
	width: 200px;
	height: 100px;
}

#imagemForca{
  display: block;
  margin: 10 auto;
}
